<?xml version="1.0"?>
<robot name="combined_robot" xmlns:xacro="http://ros.org/wiki/xacro">
  <!-- Include the Kiwi Cell Description -->
  <xacro:include filename="path_to_kiwi_cell_description.xacro"/>
  <xacro:kiwi_cell prefix="kiwi_"/>

  <!-- Include the Motoman GP7 Description -->
  <xacro:include filename="path_to_motoman_gp7_description.xacro"/>
  <xacro:motoman_gp7 prefix="motoman_"/>

  <!-- Joint to connect Kiwi Cell and Motoman GP7 -->
  <joint name="kiwi_to_motoman_joint" type="fixed">
    <parent link="kiwi_robot_base_plate_link"/>
    <child link="motoman_base_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
</robot>